<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Identification - HellMetz Backoffice</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/templatemo-festava-live.css}" rel="stylesheet">
  <link th:href="@{/css/backoffice.css}" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5" id="login-page">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

      <form class="form-login p-4 border rounded shadow bg-white" method="post" th:action="@{/login}">

        <h2 class="form-login-heading text-center mb-4">Identification</h2>

        <div class="alert alert-success text-center" role="alert" th:if="${param.logout}">
          Vous avez été déconnecté avec succès.
        </div>

        <div class="alert alert-danger text-center" role="alert" th:if="${param.error}">
          Identifiant ou mot de passe incorrect (ou probleme avec le serveur : je dois corriger cette gestion d'erreur)
        </div>

        <div class="alert alert-danger" role="alert"
             th:if="${not #strings.isEmpty(erreur)}"
             th:text="${erreur}">
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Identifiant" required autofocus />
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Mot de passe" required />
        </div>

        <div class="mb-3 text-end login-social-link">
          <a data-bs-toggle="modal" href="#modalMdpOublie" class="text-decoration-none">
            Mot de passe oublié ?
          </a>
        </div>

        <button class="btn custom-btn w-100" type="submit">
          <i class="bi bi-box-arrow-in-right"></i> Se connecter
        </button>

      </form>
    </div>
  </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>